.procedure-card {
  position: relative;
  text-align: center;
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    var(--color-primary-dark) 101.39%
  );
  border-radius: 4px 120px;
  overflow: hidden;
  transition: transform 0.3s;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    color: var(--color-brand-white);
    font-weight: 400;
    font-size: 22px;
    line-height: 1.18;
    width: 152px;
    margin: 32px auto;
  }
}

.procedure-card:hover {
  transform: scale(1.05);
}
