.about-us-section {
  padding-top: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__content {
    max-width: 709px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__images-transform {
    position: relative;
  }

  &__img {
    border-radius: 100%;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
  }

  &__img-before {
    margin-bottom: 40px;
  }

  &__img-star-1 {
    position: absolute;
    left: 132px;
    top: 347px;
    fill: var(--color-brand-blue);
  }

  &__img-star-2 {
    position: absolute;
    right: -26px;
    top: 40px;
    fill: var(--color-primary-light);
  }

  &__img-star-3 {
    position: absolute;
    right: 6px;
    top: 272px;
    fill: var(--color-secondary-grey);
  }

  &__img-after {
    margin-left: 172px;
  }
}
